.App {
  text-align: center;
}

.my-title{
  margin-top: 200px;
}
.SearchForm-wrapper{
  display: flex;
  justify-content: center;
}

.MoviesList{
  margin-top: 150px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:16px; 
}
.MoviesListItem{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 24px 5px;
}

.MoviesListItem .image{
  width: 340px;
  height: 100%;
  max-height: 550px;
}
.Details{
  margin: 150px auto;
  display: flex;
  justify-content: center;
  padding:16px;
  width: 80%;

}


@media (max-width:1024){
  .SearchForm-wrapper{
    width: auto;
    margin: auto;
  }
  .MoviesListItem{
    width: 98%;
  }
}